@font-face {
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-family: 'Roboto', sans-serif;
}

@font-face {
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-family: 'Roboto', sans-serif;
}


.container {
    background: url(../images/background.png);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    width: 1366px;
    height: 768px;
    padding: 46px 177px 0 163px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/*header*/

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    align-items: center;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../images/logo.svg') no-repeat;
}

.logo-wrapper:hover{
    color: #f26522;
    transition: 200ms;
    background: url('../images/logo-hover.png') no-repeat;
}

.logo-1 {
    font-size: 29px;
    line-height: 29px;
    font-style: normal;
    font-weight: 700;
    padding-left: 63px;
}

.logo-2 {
    font-size: 18px;
    line-height: 18px;
    font-style: normal;
    font-weight: 700;
    padding-left: 53px;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.email {
    padding-bottom: 19px;
}

.email:hover , .contact:hover {
    color: #f26522;
    transition: 200ms;
}

/*main*/

.category-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 37px 61px;
}

.category__item {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tour-info-details::after {
    content: url('../images/details.png');
}

.category__item:hover {
    color: #f26522;
    transition: 200ms;
}

.tour-info-container1 {
    width: 300px;
    height: 220px;
    background: url('../images/shopping-tours.png');   
}

.tour-info-container2 {
    width: 300px;
    height: 220px;
    background: url('../images/sightseeing-tours.png');
    
}

.tour-info-container3 {
    width: 300px;
    height: 220px;
    background: url('../images/food-tours.png');
}

.tour-info-container4 {
    width: 300px;
    height: 220px;
    background: url('../images/bars-and-nightlife.png');
}

.tour-info-container5 {
    width: 300px;
    height: 220px;
    background: url('../images/art-and-architecture.png');
}

.tour-info-container6 {
    width: 300px;
    height: 220px;
    background: url('../images/walking-tours.png');
}

.category__text {
    padding-top: 20px;
}

.tour-info-wrapper {
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    background: #f26522;
    margin-top: 162px;
    left: 0.5px;
    padding: 7px 14px 15px 16px;
    width: 300px;
}

.tour-info-wrapper:hover {
    opacity: 1;
    background: #f26522;
    transition: 200ms;
}

.tour-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
}

.tour-info-price {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.tour-info-details {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-right: 16px;
}

.tour-info-details-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tour-info-price {
    padding-right: 128px;
}


/*footer*/

.footer__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding-top: 49px;
}